{% load static %}
<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Proyecto Django{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/flowbite.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
     
  </style>
</head>
<body class="bg-gray-100 dark:bg-gray-800">
    <header>
        {% block header %}
        
  <nav class="bg-white border-gray-200 dark:bg-gray-900">
      <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href= {% url "home" %} class="flex items-center space-x-3 rtl:space-x-reverse">
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
            <path d="M12 1.75C6.615 1.75 2.25 6.115 2.25 11.5S6.615 21.25 12 21.25 21.75 16.885 21.75 11.5 17.385 1.75 12 1.75zm0 18.5a7.25 7.25 0 1 1 7.25-7.25A7.259 7.259 0 0 1 12 20.25zM12.75 6.5a.75.75 0 1 0-1.5 0v6a.75.75 0 0 0 .75.75h3.5a.75.75 0 0 0 0-1.5h-3V6.5z"/>
        </svg>
        
       
        
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">TimeTracker</span>
        </a>
        <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
          <span class="sr-only">Abrir menú</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
          <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
            {% block menu_items %}
            <li>
              <a href={% url "home" %} class="{% if request.resolver_match.url_name == 'home' %}block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500{% else %}block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent{% endif %}" aria-current="{% if request.resolver_match.url_name == 'home' %}page{% endif %}">Inicio</a>
          </li>
          <li>
              <a href={% url "week" %} class="{% if request.resolver_match.url_name == 'week' %}block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500{% else %}block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent{% endif %}" aria-current="{% if request.resolver_match.url_name == 'week' %}page{% endif %}">Ver semana</a>
          </li>
            

            <li>
              <a href= {% url "logout" %} class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Cerrar sesión</a>
            </li>
            {% endblock menu_items %}
          </ul>
        </div>
        
        
      </div>
      
  </nav>
  
        {% endblock header %}
        
    </header>

  <main>
      <div class= "flex flex-col items-center justify-center text-center w-full h-full ">
          {% block content %}
          {% endblock %}
      </div>
  </main>

  
  <footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-900">
    <div class="w-full mx-auto max-w-screen-xl p-4 flex items-center justify-between">
        <span class="text-sm text-gray-500 dark:text-gray-400">
            2024 <a href="https://fran.gabardaortiz.es/" class="hover:underline">@beatkapo</a>
        </span>
        <ul class="flex items-center text-sm font-medium text-gray-500 dark:text-gray-400">
            <li>
                <a href="https://github.com/beatkapo/timeTracker" class="flex items-center hover:text-blue-700 dark:hover:text-white">
                    <svg class="w-5 h-5 mr-1" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                        <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.022c0 4.424 2.865 8.168 6.839 9.489.5.091.682-.217.682-.483 0-.237-.009-.868-.014-1.704-2.782.605-3.369-1.342-3.369-1.342-.454-1.155-1.109-1.463-1.109-1.463-.908-.621.069-.608.069-.608 1.003.071 1.53 1.032 1.53 1.032.892 1.528 2.341 1.087 2.91.831.091-.647.349-1.087.635-1.338-2.221-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.27.098-2.647 0 0 .84-.27 2.75 1.026A9.58 9.58 0 0112 6.82c.851.004 1.705.115 2.504.337 1.909-1.295 2.747-1.026 2.747-1.026.546 1.377.202 2.394.1 2.647.64.7 1.027 1.595 1.027 2.688 0 3.849-2.338 4.693-4.566 4.942.359.309.678.92.678 1.855 0 1.338-.012 2.421-.012 2.75 0 .269.179.579.688.482C19.137 20.186 22 16.442 22 12.022 22 6.484 17.523 2 12 2z" clip-rule="evenodd"></path>
                    </svg>
                    Clone me!
                </a>
            </li>
        </ul>
    </div>
</footer>


  <script src="{% static 'js/flowbite.js' %}"></script>
  <script src="{% static 'js/scripts.js' %}"></script>
    
</body>
</html>
