{% extends "base.html" %}

{% block title %}TimeTracker - Ver semana{% endblock %}

{% block content %}
<div class="contenedor">
    <!-- Botones para cambiar de semana y mostrar la semana actual -->
    <div class="d-flex justify-content-between align-items-center my-3">
        <a href="?week={{ week_offset|add:-1 }}" class="btn btn-primary">
            <i class="fas fa-arrow-left"></i> Semana Anterior
        </a>
        <span class="font-weight-bold">{{ week_start }} - {{ week_end }}</span>
        <a href="?week={{ week_offset|add:1 }}" class="btn btn-primary">
            Semana Siguiente <i class="fas fa-arrow-right"></i>
        </a>
    </div>
    <div class="escala-tiempo">
        <!-- Etiquetas de las horas -->
        <div class="etiqueta">00</div>
        <div class="etiqueta">01</div>
        <div class="etiqueta">02</div>
        <div class="etiqueta">03</div>
        <div class="etiqueta">04</div>
        <div class="etiqueta">05</div>
        <div class="etiqueta">06</div>
        <div class="etiqueta">07</div>
        <div class="etiqueta">08</div>
        <div class="etiqueta">09</div>
        <div class="etiqueta">10</div>
        <div class="etiqueta">11</div>
        <div class="etiqueta">12</div>
        <div class="etiqueta">13</div>
        <div class="etiqueta">14</div>
        <div class="etiqueta">15</div>
        <div class="etiqueta">16</div>
        <div class="etiqueta">17</div>
        <div class="etiqueta">18</div>
        <div class="etiqueta">19</div>
        <div class="etiqueta">20</div>
        <div class="etiqueta">21</div>
        <div class="etiqueta">22</div>
        <div class="etiqueta">23</div>
        <div class="etiqueta">24</div>
    </div>
    
    {% for day in days_of_week %}
    <div class="barra">
        <!-- Los rangos se generarán dinámicamente aquí -->
         {% for range in day.ranges %}
         <div class="rango" style="left: {{range.check_in}}%; width: {{ range.check_out }}%;">
        </div>
         {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}
