{% extends "base.html" %}

{% block title %}TimeTracker - Ver semana{% endblock %}


{% block content %}
<div class="h-full w-full flex flex-col items-center justify-center p-5">
    <div class="flex flex-col  w-full max-w-4xl p-4 bg-white dark:bg-gray-900 dark:text-white text-gray-900 shadow-md rounded-lg">
        
        <div class="semana-navegacion text-center mb-4 flex items-center justify-between">
            <a href="?week={{ week_offset|add:-1 }}" class="  text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Anterior</a>
            <div class="flex flex-col items-center md:items-start p-3">
                <div class="flex flex-col md:flex-row items-center">
                    <span class="semana-actual  text-center">
                        {{ current_week_start|date:"d/m/Y" }}
                    </span>
                    <span class="semana-actual ml-3 mr-3 text-center"> - </span>
                    <span class="semana-actual  text-center">
                        {{ current_week_end|date:"d/m/Y" }}
                    </span>
                </div>
            </div>
            <a href="?week={{ week_offset|add:1 }}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Siguiente</a>
        </div>
        
        <div class="escala-tiempo flex justify-between">
            <!-- Etiquetas de las horas -->
            <div class="etiqueta">00</div>
            <div class="etiqueta hidden sm:block">01</div>
            <div class="etiqueta">02</div>
            <div class="etiqueta hidden sm:block">03</div>
            <div class="etiqueta">04</div>
            <div class="etiqueta hidden sm:block">05</div>
            <div class="etiqueta">06</div>
            <div class="etiqueta hidden sm:block">07</div>
            <div class="etiqueta">08</div>
            <div class="etiqueta hidden sm:block">09</div>
            <div class="etiqueta">10</div>
            <div class="etiqueta hidden sm:block">11</div>
            <div class="etiqueta">12</div>
            <div class="etiqueta hidden sm:block">13</div>
            <div class="etiqueta">14</div>
            <div class="etiqueta hidden sm:block">15</div>
            <div class="etiqueta">16</div>
            <div class="etiqueta hidden sm:block">17</div>
            <div class="etiqueta">18</div>
            <div class="etiqueta hidden sm:block">19</div>
            <div class="etiqueta">20</div>
            <div class="etiqueta hidden sm:block">21</div>
            <div class="etiqueta">22</div>
            <div class="etiqueta hidden sm:block">23</div>
            <div class="etiqueta">24</div>
            
        </div>
        
        
        {% for day in days_of_week %}
        <div class="relative w-full h-8">
            
            <div class="barra z-10 relative w-full h-8 bg-gray-200 rounded dark:bg-gray-800">
                <!-- Los rangos se generarán dinámicamente aquí -->
                
                {% for range in day.ranges %}
                <div class="rango" style="left: {{ range.check_in }}%; width: {{ range.check_out }}%;"></div>
                {% endfor %}
                
                
                <!-- Inicial del día -->
                <div class="absolute inset-0 flex items-center text-gray-200 dark:text-gray-400 text-opacity-50 font-bold text-lg mix-blend-mode-multiply" style="left:2%;">
                    {{ day.name }}
                </div>
                
                <!-- Pseudo-elemento para oscurecer la barra -->
                <button 
                data-tooltip-target="tooltip-top-{{ day.day }}"
                data-tooltip-placement="top"
                data-barra-info-target="barra-info-{{ day.day }}" 
                type="button" 
                class="barra-overlay tooltip-trigger dark:bg-white"></button>

            </div>
             
            <div 
            id="tooltip-top-{{ day.day }}" 
            role="tooltip" 
            class="tooltip z-20 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            00:00
                <div class="tooltip-arrow" data-popper-arrow></div>
            
            </div>
                
        </div>
        <div id="barra-info-{{ day.day }}"
         class="barra-info z-0 flex w-full bg-gray-800 rounded-b text-center text-white justify-between">
            <div class= "flex flex-col">
                <span class="jornada-text font-bold">Trabajo</span> 
                <span >{{day.hours_worked}} {{day.hours_emote}}</span>
            </div>
            <div class= "flex flex-col">
                <span class="descanso-text font-bold">Descanso</span> 
                <span>{{day.hours_rested}}</span>
            </div>
            <div class= "flex flex-col">
                <span class="extras-text font-bold">Extras</span> 
                <span>{{day.extra_hours}}</span>
            </div>
        </div>
        
        {% endfor %}
                
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const tooltipTriggers = document.querySelectorAll('.tooltip-trigger');

        tooltipTriggers.forEach(function(trigger) {
            const tooltipId = trigger.getAttribute('data-tooltip-target');
            const tooltip = document.getElementById(tooltipId);
            const barraInfoId = trigger.getAttribute('data-barra-info-target');
            const barraInfo = document.getElementById(barraInfoId);
            
            trigger.addEventListener('mouseover', function(event) {

                tooltip.classList.add('visible');

                const mouseX = event.pageX;

                tooltip.style.left = `${mouseX}px`;
            });

            trigger.addEventListener('mouseout', function() {
                //tooltip.classList.remove('visible');
            });
            trigger.addEventListener('click', function(event) {
                tooltip.classList.add('invisible');
                const expandeds = document.querySelectorAll('.expanded');
                expandeds.forEach(function(expanded) {
                    if (expanded !== barraInfo){
                        expanded.classList.toggle('expanded');
                    }
                });
                barraInfo.classList.toggle('expanded');
                
            });
            
        });

        document.addEventListener('mousemove', function(event) {
            const visibleTooltip = document.querySelector('.tooltip.visible');
        
            if (visibleTooltip) {
                const viewportWidth = window.innerWidth;
                const mouseX = event.pageX;
        

                const offsetPercentage = 0.5; 
                const offset = viewportWidth * offsetPercentage;
        
                visibleTooltip.style.left = `${mouseX - offset}px`;

                // Recuperar la barra
                const barra = document.querySelector('.barra');
                const barraWidth = barra.getBoundingClientRect().width; // Porque no funciona???
                //TODO: Revisar por qué no funciona
                
                const barraOffset = (viewportWidth - barraWidth) / 2;

                const adjustedMouseX = mouseX - barraOffset;

                const proportion = adjustedMouseX / barraWidth;


                // Calcular la hora para mostrarla en el tooltip
                const secondsInDay = 86400; // 24 * 60 * 60
                const secondsAtPosition = proportion * secondsInDay;
                const hora = Math.floor(secondsAtPosition / 3600);
                const minutos = Math.floor((secondsAtPosition % 3600) / 60);
                if(hora<0){hora=0}
                if(minutos<0){minutos=0}
                visibleTooltip.innerText = `${hora.toString().padStart(2, '0')}:${minutos.toString().padStart(2, '0')}`;

            }
        });
        
    });
</script>


{% endblock %}
